body{
    background-color: rgb(40,40,40);
    height: auto;
    display: flex;
}
*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(40, 40, 40);
    height: 98vh;
    width: 20vh;
}
.text{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 5vh;
    width: 20vh;
    display: block;
    position: relative;
    top: -2vh;

}
.logo{
    width: 20vh;
    height: 22vh;
    margin-bottom: 0ch;
}
.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vh;
    height: 78vh ;
    margin-top: -2vh;
    margin-bottom: 0ch;
}
.box0{
    height: 3vh;
    width: 20vh;
    padding: 2px;
    background-color: rgb(50, 50, 50);
    border: 1px;
    border-color: aliceblue;
}
.box{
    border: 1px;
    border-color: aliceblue;
    background-color: rgb(50, 50, 50);
    font-size: 3vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 2px;
    margin-top: 0.2vw;
    width: 20vh;
    height: 9vh;
}
a:link , a:-webkit-any-link{
    color: rgb(163, 186, 193);
    text-decoration: none;
}
button:hover{
    color: rgb(242, 247, 247);
    background-color: rgb(100, 100, 100);
}
a:hover{
    color: rgb(242, 247, 247);
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 2vh;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(2, 190, 190);
    border-radius: 2vh;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 2vh;
  }
.box5{
    height: 53vh;
    width: 19.2vh;
    padding: 2px;
    
}
.box5 img{
    height: 4vh;
    width:4vh
}
.outerbox{
    height: 30vh;
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10vh;
    top:5vh;
}
.innerwallpaper{
  height: 60vh;
  width: 60vh;
  background-image: url("wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 40vh;
  top:20vh;
}

.word{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10vh;
    position: relative;
    left: 4vh;
    color: white
}
.role2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh;
    position: relative;
    left: 4vh;
    color: rgb(2, 190, 190);
}
.code{
    font-family: 'Chiller', bold, monospace; 
    font-size: 3vh;
    color: rgb(125, 124, 124);
}
.code6{
    font-family: 'Chiller', bold, monospace; 
    font-size: 3vh;
    position: relative;
    left: -4vh;
    color: rgb(125, 124, 124);
}
.contact{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh;
    background-color: rgb(40, 40, 40);
    height: 35vh;
    width: 30vh;
    padding: 2vh;
    color: rgb(2, 190, 190);
    border: 1px solid rgb(2,190,190);
}